{% extends "bases/base.html" %}
{% block title %}{{ category.name_ru }}{% endblock %}
{% block content %}

<section class="header-tree" data-speed="8" data-type="background">
        <div class="cover-1" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb clearfix mar-top-3x">
                <li><a class="link text-success" href="{% url 'main' %}">Главная</a></li>
                <li>{{ category.name_ru }}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="pattern-3 no-padding-right">
        <h2 class="hidden">{{ category.name_ru }}</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mar-top-lg row">
                <div class="col-md-8 blog-main">
                  <section  class="blog-post-list no-padding">
                    <h2 class="hidden">Last Posts</h2>

                    {% for object in object_list %}
                    <article class="blog-post wow fadeInUp" data-wow-duration="1s">
                      <span class="blog-date">
                        {{ object.created|date:"j" }}
                        <small class="blog-month">{{ object.created|date:"b" }}</small>
                      </span>
                      <span class="post-likes">
                        <a class="iline2-heart64"></a>
                        <small class="post-count">{{ object.likes.count }}</small>
                      </span>
                      <span class="post-views">
                        <a class="iline2-eye45"></a>
                        <small class="post-count">{{ object.all_visits_count }}</small>
                      </span>
                      <span class="post-comments">
                        <a class="iline2-rectangular22"></a>
                        <small class="post-count">{{ object.get_comments }}</small>
                      </span>
                      <div class="blog-body">
                        <header class="entry-header">
                          <a href="{% url 'blog_detail' pk=object.pk %}">
                            {% if object.image %}
                              <img src="{{ object.image.url }}" alt="" class="img-responsive img-full" />
                            {% else %}
                              <img src="/static/images/detail-0.jpg" alt="" class="img-responsive img-full" />
                            {% endif %}
                            <div class="image-overlay">
                              <p>
                                <span class="show-image">
                                  <i class="iline2-arrow423"></i>
                                </span>
                              </p>
                            </div>
                          </a>
                        </header>
                        <h4 class="text-primary text-center text-uppercase mar-top-sm">{{ object.title }}</h4>
                        <p>
                           {{ object.description }}[...]
                        </p>
                        <a class="btn btn-primary text-uppercase" href="{% url 'blog_detail' pk=object.pk %}" role="button"> Читать</a>
                      </div>
                    </article>
                    {% empty %}
                    <h2>Постов пока нет...</h2>
                    {% endfor %}
                </div>

                <div class="col-md-4 blog-sidebar">
                  <div class="post-detail">
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-primary text-uppercase text-center">Categories</h3>
                      <ul class="text-capitalize sidebar">
                        {% for object in blog_categories %}
                          <li><a href="{% url 'blog_index' cat_name=object.name_en %}" class="iline1-spiral4">{{ object.name_ru }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  {% if get_frendly_posts %}
                  <div class="post-detail mar-top-md">
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-primary text-uppercase text-center">Похожие посты</h3>
                      <ul class="text-capitalize sidebar">
                        {% for object in get_frendly_posts %}
                        <li>
                          <a href="{% url 'blog_detail' pk=object.pk %}">
                            <span class="post-img">
                              {% if object.image %}
                                <img src="{{ object.image.url }}" alt="" class="img-responsive" />
                              {% else %}
                                <img src="/static/images/detail-0.jpg" alt="" class="img-responsive" />
                              {% endif %}
                            </span>
                            <h4 class="text-uppercase text-success">{{ object.category }}</h4>
                            <i class="text-muted small">0 комментов</i>
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  {% endif %}
                  <div class="post-detail mar-top-md">
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-primary text-uppercase text-center">TAGS</h3>
                      <p>
                        <a class="label label-default" href="#">design</a>
                        <a class="label label-default" href="#">marketing</a>
                        <a class="label label-default" href="#">application</a>
                        <a class="label label-default" href="#">products</a>
                        <a class="label label-default" href="#">blog</a>
                        <a class="label label-default" href="#">article</a>
                      </p>
                    </div>
                  </div>
                  <div class="post-detail mar-top-md">
                    <div class="post-detail-body sep-xs">
                      <h3 class="text-primary text-uppercase text-center">ARCHIVES</h3>
                      <ul class="text-capitalize sidebar">
                        <li><a href="#" class="iline1-spiral4">June 2015 (150)</a></li>
                        <li><a href="#" class="iline1-spiral4">May 2015 (134)</a></li>
                        <li><a href="#" class="iline1-spiral4">April 2015 (232)</a></li>
                        <li><a href="#" class="iline1-spiral4">March 2015 (274)</a></li>
                        <li><a href="#" class="iline1-spiral4">February 2015 (434)</a></li>
                        <li><a href="#" class="iline1-spiral4">January 2015 (934)</a></li>
                        <li><a href="#" class="iline1-spiral4">December 2014 (224)</a></li>
                        <li><a href="#" class="iline1-spiral4">November 2014 (439)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
